################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary.GraphService/ClassLibrary.GraphService/obj
/ClassLibrary.GraphService/.vs/ClassLibrary.GraphService/v16
/ClassLibrary.GraphService/.vs/ClassLibrary.GraphService
/ClassLibrary.GraphService/ClassLibrary.GraphService/bin/Debug/netcoreapp3.1
